      <h1 class="text-center">Stupid Coaching!</h1>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h4><%= params[:questions] %></h4>
      <p>-You</p>
    </div>
    <div class="col-md-12">
      <h5 class="mt-3 p-3" style= "text-align: right"><%= @reponse %></h5>
      <p style= "text-align: right" >-Your Stupid Coach</p>
      <p id = "lien_back" class="text-center"><%= link_to "Ask a new question!", ask_path %></p>
    </div>
  </div>
</div>

