<h1 class= text-center> Ask your question ! </h1>

<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <form class="text-center" action="http://localhost:3000/answer" data-turbo="false">
        <div class="form-group m-3">
          <input type="text" class="form-control" name="questions" placeholder="Ask your question!">
        </div>
        <div class="form-group">
          <input type="submit" class="btn btn-primary" value="Submit Question">
        </div>
      </form>
    </div>
  </div>
</div>